
<div class="container team-section">
    <h2 class="center-align">Meet Our Team</h2>
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="/assets/ceo.png" alt="Team Member">
          </div>
          <div class="card-content center-align">
            <h5>Kashif Khan</h5>
            <p class="flow-text">CEO / S. Developer</p>
          </div>
          <div class="card-action center-align">
            <a href="#" class="blue-text"><i class="material-icons">linkedin</i></a>
            <a href="#" class="blue-text"><i class="material-icons">email</i></a>
          </div>
        </div>
      </div>
  
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="/assets/md.png" alt="Team Member">
          </div>
          <div class="card-content center-align">
            <h5>Z.A Siddiqi</h5>
            <p class="flow-text">M.D / Solution architect</p>
          </div>
          <div class="card-action center-align">
            <a href="#" class="blue-text"><i class="material-icons">linkedin</i></a>
            <a href="#" class="blue-text"><i class="material-icons">email</i></a>
          </div>
        </div>
      </div>
  
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="/assets/developer.png" alt="Team Member">
          </div>
          <div class="card-content center-align">
            <h5>Junaid Khan</h5>
            <p class="flow-text">UI/UX Developer</p>
          </div>
          <div class="card-action center-align">
            <a href="#" class="blue-text"><i class="material-icons">linkedin</i></a>
            <a href="#" class="blue-text"><i class="material-icons">email</i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="/assets/ceo.png" alt="Team Member">
            </div>
            <div class="card-content center-align">
              <h5>M.Asim</h5>
              <p class="flow-text">T.L / S. Developer</p>
            </div>
            <div class="card-action center-align">
              <a href="#" class="blue-text"><i class="material-icons">linkedin</i></a>
              <a href="#" class="blue-text"><i class="material-icons">email</i></a>
            </div>
          </div>
        </div>
    
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="/assets/md.png" alt="Team Member" >
            </div>
            <div class="card-content center-align">
              <h5>M.Akram</h5>
              <p class="flow-text">Analysts / Frontend developer</p>
            </div>
            <div class="card-action center-align">
              <a href="#" class="blue-text"><i class="material-icons">linkedin</i></a>
              <a href="#" class="blue-text"><i class="material-icons">email</i></a>
            </div>
          </div>
        </div>
    
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="/assets/developer.png" alt="Team Member">
            </div>
            <div class="card-content center-align">
              <h5>Mohd Shadab</h5>
              <p class="flow-text">Web Developer</p>
            </div>
            <div class="card-action center-align">
              <a href="#" class="blue-text"><i class="material-icons">linkedin</i></a>
              <a href="#" class="blue-text"><i class="material-icons">email</i></a>
            </div>
          </div>
        </div>
      </div>
  </div>