<div class="slider fullscreen">
  <ul class="slides">
    <li>
      <img src="/assets/banner/slider4.jpg" alt="Slide 1">
    </li>
    <li>
      <img src="/assets/banner/slider2.jpg" alt="Slide 2">
    </li>
    <li>
      <img src="/assets/banner/slider3.jpg" alt="Slide 3">
    </li>
  </ul>

  <!-- Fixed Content -->
  <div class="fixed-content">
    <h1 class="hero-title">Empowering Your Web Development</h1>
      <p class="hero-subtitle">Where innovation meets technology, and ideas become reality.</p>
  </div>
  <ul class="logo">
    <li><img src="/assets/slider-icon-angular.png" class="inner-img" alt=""></li>
    <li><img src="/assets/slider-icon-material.png" class="inner-img" alt=""></li>
    <li><img src="/assets/slider-icon-php.png" class="inner-img" alt=""></li>
    <li><img src="/assets/slider-icon-laravel.png" class="inner-img" alt=""></li>
    <li><img src="/assets/slider-icon-mysql.png" class="inner-img" alt=""></li>
  </ul>
    <div class="arrow">
      <a href="#sidebar" class="container">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <!-- <div class="chevron"></div> -->
        <span class="text">Click to scroll down</span>
      </a>
  </div>
</div>



